.top-container {
  height: 30vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/music-playlist/music-playlist-Edsheeran-bg.png');
  background-size: cover;
}

.main-container {
  display: flex;
  justify-content: space-between;
}
